Contor/src/main/java/contorApi/entities/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="contor">
    <xs:sequence>
      <xs:element name="cold" type="xs:int"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="room" type="xs:string" minOccurs="0"/>
      <xs:element name="time" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="warm" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

